<h4 class="mb-3">Add new servers or blueprints</h4>
<form>
  <div class="mb-3">
    <label for="email">Server Name <span class="text-muted">(Optional)</span></label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input type="email" class="form-control" #serverNameInput>
  </div>
  <div class="mb-3">
    <label for="address">Server Content <span class="text-muted">(Optional)</span></label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" class="form-control" #serverContentInput>
  </div>
  <button class="btn btn-success" type="submit" (click)="onAddServer(serverNameInput)">Add Server</button>
  <button class="btn btn-primary" type="submit" (click)="onAddBlueprint(serverNameInput)">Add Blueprint</button>
</form>